@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Roboto:wght@400;500;700&display=swap");

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
html,
body {
  width: 100%;
}

button {
  cursor: pointer;
}

$text-secondary: #656565;
$warning-color: #ff9300;
$white-color: #ffffff;

.hero {
  background: linear-gradient(
    to right,
    #dfe3eb 0%,
    #dfe3eb 30%,
    #ebeff7 30%,
    #ebeff7 100%
  );
  min-height: 85vh;
  padding: 38px 0 0 7.4vw;

  .topnav {
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
      width: calc(33% - 7.4vw);
      img {
        height: 50px;
      }
    }
    .nav-list {
      display: flex;
      flex-direction: row;
      justify-items: center;
      justify-content: space-between;
      flex-shrink: auto;
      li {
        margin: 11px;
        a {
          color: $text-secondary;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 400;
          font-family: "Roboto", sans-serif;
          letter-spacing: 0.72px;
        }
      }
    }
    .icon-nav {
      display: flex;
      flex-direction: row;
      justify-items: center;
      justify-content: flex-end;
      width: 33%;
      img {
        width: 24px;
        margin: 0 27px;
      }
      padding-right: 6.4vw;
    }
  }

  .content {
    padding: 82px 0 52px 0;
    width: 100%;
    min-height: 75.8%;
    display: grid;
    grid-template-columns: 6.15% 31.6% 40.38% auto;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .img-list {
      grid-area: 1 / 1 / 5 / 2;
      justify-items: center;
      justify-content: center;
      padding-top: 20px;
      li {
        justify-self: center;
        padding: 10px 0;
        img {
          aspect-ratio: 1;
          height: 118px;
          width: 118px;
        }
      }
    }
    .product-preview {
      grid-area: 1 / 2 / 5 / 3;
    }
    .product-description {
      grid-area: 1 / 3 / 5 / 4;

      display: grid;
      grid-template-columns: 40.5% auto;
      grid-template-rows: 36px 14.08% 16.09% 14.22% 14.51% auto;
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      padding-left: 26%;

      .stars-container {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: flex-start;
        justify-items: flex-end;
        padding-top: 20px;
        .stars {
          svg {
            fill: #ffc107;
            width: 16.7px;
            height: 16px;
            margin: 2px;
          }

          height: 16px;
          display: flex;
          place-items: center;
          position: relative;
          white-space: nowrap;
          position: relative;
        }

        .cover {
          background: #ebeff7;
          height: 100%;
          overflow: hidden;
          mix-blend-mode: color;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      h1 {
        grid-area: 2 / 1 / 3 / 3;
        text-align: left;
        font-size: 64px;
        letter-spacing: 0px;
        color: #231f20;
      }
      .description {
        grid-area: 3 / 1 / 4 / 3;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0px;
        color: $text-secondary;
      }
      .price {
        grid-area: 4 / 1 / 5 / 2;
        display: grid;
        place-items: center start;
        span {
          font-family: "Oswald", sans-serif !important;
          font-weight: 300;
          font-size: 50px;
          color: $warning-color;
        }
      }
      .quantity-container {
        grid-area: 4 / 2 / 5 / 3;
        display: grid;
        place-items: center start;
        .quantity {
          border: 1px solid #9c9c9c;
          border-radius: 8px;
          height: 50px;
          width: 133px;
          padding: 5px 16px 5px;
          display: flex;
          justify-content: space-between;
          span {
            font-family: "Oswald", sans-serif !important;
            font-weight: 400;
            font-size: 24px;
            color: #4b4b4b;
          }
          button {
            all: unset;
            font-family: "Oswald", sans-serif !important;
            font-weight: 400;
            font-size: 28px;
            color: #9c9c9c;
          }
        }
      }
      .cta {
        grid-area: 5 / 1 / 6 / 3;
        display: flex;
        button {
          border: none;
          height: 61px;
          font-weight: bold;
          font-size: 24px;
        }
        .btn-primary {
          padding: 16px 80px;
          background: $warning-color 0% 0% no-repeat padding-box;
          box-shadow: 0px 2px 4px #00000029;
          border-radius: 8px;
          color: $white-color;
        }
        .btn-secondary {
          box-shadow: 0px 2px 6px #00000029;
          border: 2px solid $warning-color;
          border-radius: 8px;
          color: $warning-color;
          margin-left: 24px;
          padding: 16px 40px;
        }
      }
      .product-status {
        grid-area: 6 / 1 / 7 / 3;
        p:first-child {
          margin-bottom: 14px;
        }
        img {
          margin-right: 0.5em;
          width: 13px;
          height: 16px;
        }
        img {
          width: 14px;
        }
        p {
          display: flex;
          color: $text-secondary;
          text-align: left;
          margin: 0;
          padding: 0;
        }
      }
    }
    .social-links {
      grid-area: 2 / 4 / 4 / 5;
      display: flex;
      padding-right: calc(6.4vw + 19px);
      justify-content: flex-end;
      ul {
        display: flex;
        flex-direction: column;
        align-self: center;
        li {
          margin-bottom: 12px;
        }
        img {
          width: 40px;
          aspect-ratio: 1;
        }
      }
    }
  }

  @media screen and (max-width: 1920px) {
    .product-description {
      padding-left: 15% !important;
    }
    .content {
      grid-template-columns: 6.15% 31.6% 50% auto;
    }
  }
  @media screen and (max-width: 1455px) {
    .product-description {
      padding-left: 5% !important;
    }
    .content {
      grid-template-columns: 22.6% 62% auto !important;
      grid-template-rows: repeat(5, auto) !important;
    }

    .img-list {
      grid-area: 5 / 1 / 6 / 2 !important;
      display: flex;
      flex-direction: row;
      justify-content: initial !important;
    }
    .product-preview {
      grid-area: 1 / 1 / 5 / 2 !important;
      img{
        aspect-ratio: 563/696;
        width: 350px;
      }
    }
    .product-description {
      grid-area: 1 / 2 / 5 / 3 !important;
    }
    .social-links {
      grid-area: 1 / 3 / 5 / 4 !important;
    }
  }
  @media screen and (max-width: 1200px) {
    .topnav {
      .nav-list {
        display: none;
      }
    }
  }
}
